<footer class="footer">
  <div class="container">
    <div class="row">
        <!-- Navigation Links Column -->
        <div class="col-md-6 mb-4 mb-md-0 text-center text-md-start">
            <h5>Quick Links</h5>
            <ul class="d-flex flex-column align-items-center align-items-md-start">
                <li><a href="/">Home</a></li>
                <li><a href="/transportation">Our Transportation Fleet</a></li>
                <li><a href="/construction">Civil & Building Construction</a></li>
                <li><a href="/technical">Technical & Repair Services</a></li>
                <li><a href="/general-supply">General Services & Supply</a></li>
                <li><a href="/about">About Us</a></li>
                <li><a href="/articles">News</a></li>
                <li><a href="/contact">Contact Us</a></li>
            </ul>
        </div>

        <!-- Social Media Column -->
        <div class="col-md-6 text-center text-md-end">
            <h5>Connect With Us</h5>
            <div class="mt-3">
                <a href="https://www.instagram.com/oshikoto_transport/?hl=en" target="_blank" class="footer-social-icon" title="Instagram">
                    <i class="fab fa-instagram"></i>
                </a>
                <a href="https://www.facebook.com/p/Oshikoto-Transport-CC-100088307319857/" target="_blank" class="footer-social-icon" title="Facebook">
                    <i class="fab fa-facebook-f"></i>
                </a>
                <a href="https://na.linkedin.com/in/oshikoto-transport-b69995227" target="_blank" class="footer-social-icon" title="LinkedIn">
                    <i class="fab fa-linkedin-in"></i>
                </a>
            </div>
        </div>
    </div>
    
    <hr class="my-4" style="border-color: rgba(255,255,255,0.1);">
    
    <div class="text-center">
        <span>&copy; {{formatDate now 'YYYY'}} Oshikoto Transport and Investment CC. All Rights Reserved.</span>
    </div>
  </div>
</footer>