{{#unless isAdminPage}}
<nav class="navbar navbar-expand-lg navbar-light">
    <div class="container">
        <a class="navbar-brand d-flex align-items-center" href="/">
            <img src="/images/companylogo.png" alt="Company Logo" class="navbar-logo me-2">
            <span class="text-osh-yellow">Oshikoto</span><span class="text-osh-blue">Transport</span>
        </a>
        <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarNav" aria-controls="navbarNav" aria-expanded="false" aria-label="Toggle navigation">
            <span class="navbar-toggler-icon"></span>
        </button>
        <div class="collapse navbar-collapse" id="navbarNav">
            <!-- Main navigation items -->
            <ul class="navbar-nav me-auto mb-2 mb-lg-0">
                <li class="nav-item">
                    <a class="nav-link {{#if (ifeq page 'home')}}active{{/if}}" href="/">Home</a>
                </li>
                <!-- MODIFIED SECTION: DROPDOWN MENU -->
                <li class="nav-item dropdown">
                    <a class="nav-link dropdown-toggle {{#if (ifeq page 'services')}}active{{/if}}" href="#" id="servicesDropdown" role="button" data-bs-toggle="dropdown" aria-expanded="false">
                        Our Services
                    </a>
                    <ul class="dropdown-menu" aria-labelledby="servicesDropdown">
                        <li><a class="dropdown-item" href="/transportation">Our Transportation Fleet</a></li>
                        <li><a class="dropdown-item" href="/construction">Civil & Building Construction</a></li>
                        <li><a class="dropdown-item" href="/technical">Technical & Repair Services</a></li>
                        <li><a class="dropdown-item" href="/general-supply">General Services & Supply</a></li>
                    </ul>
                </li>
                <!-- END MODIFIED SECTION -->
                <li class="nav-item">
                    <a class="nav-link {{#if (ifeq page 'about')}}active{{/if}}" href="/about">About Us</a>
                </li>
                <li class="nav-item">
                    <a class="nav-link {{#if (ifeq page 'articles')}}active{{/if}}" href="/articles">News</a>
                </li>
                <li class="nav-item">
                    <a class="nav-link {{#if (ifeq page 'contact')}}active{{/if}}" href="/contact">Contact Us</a>
                </li>
            </ul>

            <!-- User-specific links pushed to the right -->
            <ul class="navbar-nav ms-auto">
                {{#if user}}
                    <li class="nav-item">
                        <a class="nav-link {{#if (ifeq page 'dashboard')}}active{{/if}}" href="/dashboard">Dashboard</a>
                    </li>
                    <li class="nav-item">
                        <a class="nav-link" href="/logout">Logout</a>
                    </li>
                {{else}}
                    <li class="nav-item">
                        <a class="nav-link {{#if (ifeq page 'login')}}active{{/if}}" href="/login">Login</a>
                    </li>
                    <li class="nav-item">
                        <a class="nav-link {{#if (ifeq page 'register')}}active{{/if}}" href="/register">Register</a>
                    </li>
                {{/if}}
            </ul>
        </div>
    </div>
</nav>
{{/unless}}